.jumbo{
	text-align: center;
	border: solid gray;
	background-color: #660066;
	color: white;

}

#navbar{
	background-color: black;
	color: white;
}


body{
	background: #4d4d33;
}

.navIcons{
	width: 30px;
	height: 30px;


}

#teamName{
	color: white;
}

.ourButton{
	border:solid black;
}


