


/* Foundation Overrides */
a {
	color: #89D901;
}
a:hover {
	color: #7bc300;
}
.row {

}
.column {
	
}


/* Homepage */
body#genreHome {
	
}
#appname {
	text-align: center;
}
h1#genre-head {
	font-size: 2em;
	margin-left: -.625rem;
	margin-right: -.625rem;
}
@media screen and (min-width: 40em) {
	h1#genre-head {
		font-size: 3em;
		margin-left: -.9375rem;
		margin-right: -.9375rem;
	}
}
.genre-row {
	margin-bottom: 20px;
}
.genre-row .column {
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.genre-row .column {
		padding:0 5px;
	}
}
.genre-heading {
	margin: 0;
	background:  #096572;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
}
.genre-image {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    background-color: white;
}
.genre-wrapper {
	text-align: center;
	box-shadow: 0 0 2em  #888888;
}
#genre-head {
	border: solid black;
	color: white;
	background-color: #096572;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h4.genre-heading {
    padding: 1em 0;
    font-size: 1.5rem;
}

/* Player Page */
body#player-body {
    overflow: hidden;
}

/* 
 From http://jsfiddle.net/7S4Xx/240/,
 CSS for fixed header and footer,
 with internal scrolling content.
*/
#header {
	text-align: center;
    width: 100%;
    height: 4.125em;
    background-color: #096572;
    position: fixed;
    top: 0;
}
#content {
    max-height: calc(100% - 10.625em);
    overflow-y: scroll;
    margin-top: 4.5em !important;
}
#oembed {
    width: 100%;
    height: 6.5em;
    background: #096572;
    position: fixed;
    bottom: 0;
}
#oembed iframe {
	height: inherit;
}
#button-row .button {
	background-color: #89D901;
	width: 100%;
    margin-bottom: 0px;
    padding: .15em 1em;
    margin: 0 0 .5rem;
}
#button-row .button:hover {
	background-color: #7bc300;
}

.button i {
	font-size: 2em;
}
#header #genre {
	font-size: 1.15em;
	color: white;
}
@media (min-width: 375px) {
	#header #genre {
		font-size: 1.25em;
	}
}
@media (min-width: 768px) {
	#header #genre {
		font-size: 1.5em;
	}
}

/* Player Page Content */
#results-twitter {
	display: none;
}
#results-soundcloud {
	display: block;
}
#results-twitter ol {
	margin-left: 0px;
}
#results-soundcloud ol {
	margin-left: 0px;
}
li.result {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e1e8ed;
}
.trackResult, .tweetResult {
	cursor: pointer;
    display: block;
    position: relative;
    padding: 1em 0;
}
.trackResult:hover, .tweetResult:hover {
    background-color: #f3fbe5;
}
.trackResult div, .tweetResult div {
    height: 3em;
}
.track-art, .tweet-pic {
    float: left;
    display: block;
	background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
}
.track-title, .tweet-text {
	width: 80%;
}
.tweet-link {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}